body {
  margin: 0;
  background-color: #0e0e0e;
  color: #f1f1f1;
  font-family: 'Segoe UI', 'Orbitron', sans-serif;
}


/* 
a {
  color: #ff3c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
